{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ post.title }}</title>
        <link rel="stylesheet" href="{% static 'css/article.css' %}">
    </head>
    <body class="article">
        <div class="top-menu">
            <a href="{% url 'register' %}">Регистрация</a>
        </div>
        <div class="header">
            <img src="{% static 'images/logo.png' %}" alt="Логотип" class="logo" />
        </div>
        <div class="article">
            <h1 class="post-title">{{ post.title }}</h1>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <div class="article-text">{{ post.text|linebreaks }}</div>
            <div class="back-link">
                <a href="{% url 'archive' %}">Все записи</a>
            </div>
        </div>
    </body>
</html>